<div #content class="content content-{{ details?.id + 1 }}">

  <div class="model">
    <h4 itemprop="name">
      Jammer Antenna -
      <span> {{ details?.value?.header }}</span>
    </h4>
  </div>

  <h3 *ngIf="details.value.form">Custom Jamming Antenna</h3>

  <div #folder class="folder-view">
    <div class="text">
      
      <h4 *ngIf="isType(details.value.frequency, 'string'); else arrFreq">
        {{details.value.frequency}}
      </h4>
      <ng-template #arrFreq>
        <p *ngFor="let e of details.value.frequency">
          <span>{{e}}</span>
        </p>
      </ng-template>
    </div>

    <div *ngIf="!details.value.form; else altImg" class="image">
      <img
        itemprop="image"
        title="Antenna image"
        src="{{ img || imagesPath + details.value.img_num + '.webp' }}"
        alt="Jammer Antenna photo designed for comprehensive C-UAV defense."
      />
    </div>

    <ng-template #altImg>
      <div class="alt_image">
        <img
        itemprop="image"
        title="Antenna image"
        srcset="./assets/images/home/content/content_5.webp"
        width="320px"
        alt="Jammer Antenna photo designed for comprehensive counter UAV protection."
      />
      </div>
      
    </ng-template>
    
    <div class="description">
      <h4>Description</h4>
      <p>
        <span [innerHTML]="details?.value?.description.p1"></span>
        <span [innerHTML]="details?.value?.description.p2"></span>
      </p>
    </div>

    <div class="describe">
      <button #learnMore>Learn More</button>
    </div>

    <div #cover class="cover"></div>
  </div>
  

  <div *ngIf="properties && !properties.form" class="particular_details">

    <div class="properties specification">
      <h4>Specification</h4>

      <table>
        <tr>
          <td>Frequency</td>
          <td
            *ngIf="
              isType(properties.specification['Frequency'], 'string');
              else frequency_arr
            "
          >
            {{ properties.specification["Frequency"] }}
          </td>
          <ng-template #frequency_arr>
            <td>
              {{ properties.specification["Frequency"][0]["P1"] }}, 
              {{ properties.specification["Frequency"][0]["P2"] }}
            </td>
          </ng-template>
        </tr>

        <tr>
          <td>Gain</td>
          <td *ngIf="isType(properties.specification['Gain'], 'string'); else gain_arr">
            {{ properties.specification["Gain"] }}
          </td>
          <ng-template #gain_arr>
            <td>
              {{ properties.specification["Gain"][0]["P1"] }}, 
              {{ properties.specification["Gain"][0]["P2"] }}
            </td>
          </ng-template>
        </tr>

        <tr>
          <td>Beamwidth Azimuth</td>
          <td
            *ngIf="
              isType(properties.specification['Beamwidth Azimuth'], 'string');
              else azimuth_arr
            "
          >
            {{ properties.specification["Beamwidth Azimuth"] }}
          </td>
          <ng-template #azimuth_arr>
            <td>
              {{ properties.specification["Beamwidth Azimuth"][0]["P1"] }}, 
              {{ properties.specification["Beamwidth Azimuth"][0]["P2"] }}
            </td>
          </ng-template>
        </tr>

        
        <tr>
          <td>Beamwidth Elevation</td>
          <td *ngIf="
            isType(properties.specification['Beamwidth Elevation'], 'string');
            else elevation_arr
          ">
            {{ properties.specification["Beamwidth Elevation"] }}
          </td>

          <ng-template #elevation_arr>
            <td>
              {{ properties.specification["Beamwidth Elevation"][0]["P1"] }}, 
              {{ properties.specification["Beamwidth Elevation"][0]["P2"] }}, 
            </td>
          </ng-template>

        </tr>
        <tr>
          <td>VSWR</td>
          <td>{{ properties.specification["VSWR"] }}</td>
        </tr>
        <tr>
          <td>Impedance</td>
          <td>{{ properties.specification["Impedance"] }}</td>
        </tr>
        <tr>
          <td>XPD (cross polarization discrimination)</td>
          <td>{{properties.specification["XPD (cross polarization discrimination)"]}}</td>
        </tr>
        <tr>
          <td>RF Interface</td>
          <td>{{ properties.specification["RF Interface"] }}</td>
        </tr>
      </table>
    </div>

    <div class="properties mechanical_properties">
      <h4>Mechanical Properties</h4>

      <div>
        Length: {{ properties.mechanical_properties.length[0] }}cm /
        {{ properties.mechanical_properties.length[1] }}inch
      </div>

      <div
        *ngIf="isType(properties.mechanical_properties.width[0], 'number'); else arr"
      >
        Width: {{ properties.mechanical_properties.width[0] }}cm /
        {{ properties.mechanical_properties.width[1] }}inch
      </div>
      <ng-template #arr>
        <div>
          Width_1: {{ properties.mechanical_properties.width[0][0] }}cm /
          {{ properties.mechanical_properties.width[1][0] }}inch
        </div>
        <div>
          Width_2: {{ properties.mechanical_properties.width[0][1] }}cm /
          {{ properties.mechanical_properties.width[1][1] }}inch
        </div>
      </ng-template>

      <div *ngIf="properties.mechanical_properties.height">
        Height: {{ properties.mechanical_properties.height[0] }}cm /
        {{ properties.mechanical_properties.height[1] }}inch
      </div>

      <div>
        Weight: {{ properties.mechanical_properties.weight[0] }}kg /
        {{ properties.mechanical_properties.weight[1] }}pounds
      </div>

      <div>Color: {{ properties.mechanical_properties.color }}</div>

      <div>Material: {{ properties.mechanical_properties.material }}</div>
    </div>

    <div class="properties charts">
      <h4>Plots</h4>

      <div>
        <img
          itemprop="image"
          title="Chart with realized gain."
          src="{{ properties.charts[0] }}.webp"
          width="650"
          height="366"
          alt="Chart with realized gain of jammer antenna."
          priority
        />
      </div>

      <div *ngIf="properties.charts[1]">
        <img
          itemprop="image"
          title="Chart with realized gain."
          src="{{ properties.charts[1] }}.webp"
          width="650"
          height="366"
          alt="Chart with realized gain of jammer antenna."
          priority
        />
      </div>
    </div>

    <mat-icon (click)="hideDetails()">close</mat-icon>
  </div>

    <form *ngIf="properties && properties.form" #form="ngForm" (ngSubmit)="sendMail(form, area)">

      <label>*Name/Company</label>
      <input type="text" ngModel name="name">

      <label>*Email</label>
      <input type="email" ngModel name="email">

      <label>Type</label>
      <select name="type" ngModel>
        <option value="omnidirectional">Omnidirectional</option>
        <option value="directional">Directional</option>
      </select>
  
      <label>Frequency</label>
      <input type="text" ngModel name="frequency">

      <label>Amount of connectors</label>
      <input type="text" ngModel name="connectors_amount">

      <textarea #area name="comment" ngModel cols="40" rows="10"></textarea>
  
      <button type="submit">Send</button>
      <mat-icon (click)="hideDetails()">close</mat-icon>
    </form>
</div>

<span *ngIf="details?.id != 4" class="line"></span>