
<nav #nav class="nav flex justify-content-between">
  <img class="logo" title="logo" routerLink="/" ngSrc="./assets/images/logo.png" alt="logo" width="267" height="79" priority="true">

  <div #nav_list class="nav-list">
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/" (click)="navigateToProducts('/')">Products</li>

      <li routerLink="/" (click)="navigateToProducts('custom')">Custom</li>
      
      <li routerLink="contact">Contact</li>
      <li routerLink="news" >News</li>
    </ul>

  </div>

  <div #bar_menu class="menu">
    <mat-icon>menu</mat-icon>
  </div>
  
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="d-flex justify-content-between flex-wrap">
  <img class="logo" title="logo" ngSrc="./assets/logo/white_logo.png" alt="logo" width="292" height="86" priority>
  <div class="socials d-flex flex-column align-items-end">
    <div class="icons d-flex">
      <a href="https://pl.linkedin.com/company/itelite-dz"><img ngSrc="./assets/images/socials_linkedin.png" alt="Linkedin" width="46" height="46" priority></a>
      <a href="https://www.facebook.com/itelitewifiantennas/"><img ngSrc="./assets/images/socials_facebook.png" alt="Facebook" width="48" height="48" priority></a>
      <a href="https://www.instagram.com/itelitedrone/"><img ngSrc="./assets/images/socials_instagram.png" alt="Instagram" width="47" height="46" priority></a>
    </div>
    <p>© 2023, Anti Drone Antenna Solutions. ITELITE all Rights Reserved.</p>
  </div>
</footer>