  <section itemscope itemtype="http://schema.org/Article">

    <div class="box">
      <div class="slider">
        <img itemprop="image" title="Factory image" srcset="{{img_path}}slider_2_phone.webp 870w, {{img_path}}slider_2.webp 1153w" sizes="(max-width: 880px) 870px, 1153px" alt="Factory stands after lake.">
  
        <div class="text">
    
          <header>
            <h1>COUNTER UAV | DRONE JAMMERS</h1>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_1">
              Equip yourself in against drone solution by unlock the full potential of drone jammers designed for defending <strong>C-UAV</strong>. 
              Our solutions give a possibilities to stay ahead of evolving threats with state-of-the-art protection, 
              providing a comprehensive <strong>drone jammers</strong> and remained your airspace safe by splendid solution for counter drone protection.
            </span>
            
          </p>
        </div>
        
      </div>
  
      <div class="slider">
        <img itemprop="image" title="Photo of truck parking from drone perspective" srcset="{{img_path}}slider_1_phone.webp 870w, {{img_path}}slider_1.webp 1153w" sizes="(max-width: 880px) 870px, 1153px" alt="Square with parking trucks.">
  
        <div class="text">
    
          <header>
            <h2>JAMMING ANTENNAS</h2>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_2">
              &nbsp;&nbsp;&nbsp;&nbsp;Discover the cutting-edge <strong>jamming antennas</strong>, precisely engineered by our team to protect against UAV intrusions. 
              These devices offering a reliable solution for safeguarding your airspace from potential threats. 
              Explore the latest advancements in <strong>counter-drone</strong> technology, ensuring complex protection. 
              Our company has over 20 years experience in antennas manufacturing so performing <strong>drone jammers</strong> definitely is not exceed our knowledge and skills. 
              Get rid unwanted threat use one of our devices or by manufactured custom antenna.
            </span>
            
          </p>
        </div>
        
      </div>

      <div class="slider">
        <img itemprop="image" title="Sea photo" srcset="{{img_path}}slider_3_phone.webp 870w, {{img_path}}slider_3.webp 1153w" sizes="(max-width: 880px) 870px, 1153px" alt="Boat is swimming via sea and in the background haven is visible.">
  
        <div class="text">
    
          <header>
            <h2>COUNTER DRONE</h2>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_3">
              &nbsp;&nbsp;&nbsp;&nbsp;As drones become more prevalent, the necessity for effective <strong>drone jammer</strong> is paramount. 
              Dive into the world of <strong>counter UAV systems</strong> and explore comprehensive approaches to protect your airspace. 
              Explore a diverse range of counter-drone dome designed to deter and neutralize unmanned aerial threats.
              Stay secure with our splendid <strong>C-UAV</strong> innovative solution, precisely tailored to safeguard your environment and ensure uncompromised solution.
            </span>
            
          </p>
        </div>
        
      </div>
    </div>
    

    <div #arrow data-id="0" class="slide previous"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></div>
    <div #arrow data-id="1" class="slide next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></div>

    <span class="line"></span>
  </section>
  
  <header class="header">
    <h2>Drone Jammers</h2>
  </header>
  
  <div id="items">
    
    <div (onResize)="handleResize($event)" #container *ngFor="let e of [0, 1, 2, 3, 4];" class="container-fluid">
      <app-details [details]="{value: details[e], id: e}" [images]="images[e]"></app-details>
    </div>
  </div>
  

  <div id="counter">
    <span>
       <span>0</span>
       <span class="number">1</span>
       <span class="number">2</span>
       <span class="number">3</span>
       <span class="number">4</span>
       <span class="number">5</span>
    </span>
    <span class="line"></span>
    <span>05</span>
  </div>