  <section itemscope itemtype="http://schema.org/Article">

    <div class="box">
      <div class="slider">
        <img itemprop="image" title="Factory image" srcset="{{img_path}}slider_2_phone.webp 870w, {{img_path}}slider_2.webp 1153w" sizes="(max-width: 880px) 870px, 1153px" alt="Factory stands after lake.">
  
        <div class="text">
    
          <header>
            <h1>COUNTER UAV</h1>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_1">
              &nbsp;Unlock the full potential of counter UAV antennas, designed for defending against drones by our anti drone defense antennas and 
              explore the intricate role these advanced antennas play in countering drones by skillfully disrupting their signals. 
              <br>
              &nbsp;Stay ahead of evolving threats with state-of-the-art counter-UAV, providing a robust drone solution by drone jammer antenna. 
              Safeguard your airspace with the latest innovations in drone disruption, including powerful jammer antennas which provide protection counter drone.
            </span>
            
          </p>
        </div>
        
      </div>
  
      <div class="slider">
        <img itemprop="image" title="Photo of truck parking from drone perspective" srcset="{{img_path}}slider_1_phone.webp 870w, {{img_path}}slider_1.webp 1153w" sizes="(max-width: 880px) 870px, 1153px" alt="Square with parking trucks.">
  
        <div class="text">
    
          <header>
            <h2>DRONE JAMMER ANTENNA</h2>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_2">
              &nbsp;&nbsp;&nbsp;&nbsp;Discover the cutting-edge drone jammer antennas, precisely engineered to protect against UAV intrusions. 
              Learn how these devices adeptly disrupt drone signals, offering a reliable counter drone solution for safeguarding your airspace from potential threats. 
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;Explore the latest advancements in counter-drone technology, ensuring anti drone solution. 
              Uncover the effectiveness of jammer antennas, contributing to comprehensive counter UAV protection.
            </span>
            
          </p>
        </div>
        
      </div>

      <div class="slider">
        <img itemprop="image" title="Sea photo" srcset="{{img_path}}slider_3_phone.webp 870w, {{img_path}}slider_3.webp 1153w" sizes="(max-width: 880px) 870px, 1153px" alt="Boat is swimming via sea and in the background haven is visible.">
  
        <div class="text">
    
          <header>
            <h2>COUNTER DRONE</h2>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_3">
              &nbsp;&nbsp;&nbsp;&nbsp;As drones become more prevalent, the necessity for effective anti drone jammer antennas is paramount. 
              Dive into the world of drone detection system and uncover comprehensive approaches to protect your airspace and provide counter UAV solution. 
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;Explore a diverse range of counter-drone antennas designed to deter and neutralize unmanned aerial threats. 
              Stay secure with innovative anti drone defense, precisely tailored to safeguard your environment and ensure uncompromised counter drone solution.
            </span>
            
          </p>
        </div>
        
      </div>
    </div>
    

    <div #arrow data-id="0" class="slide previous"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></div>
    <div #arrow data-id="1" class="slide next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></div>

    <span class="line"></span>
  </section>
  
  <div id="items">
    <div (onResize)="handleResize($event)" #container *ngFor="let e of [0, 1, 2, 3, 4];" class="container-fluid">
      <app-details [details]="{value: details[e], id: e}" [images]="images[e]"></app-details>
    </div>
  </div>
  

  <div id="counter">
    <span>
       <span>0</span>
       <span class="number">1</span>
       <span class="number">2</span>
       <span class="number">3</span>
       <span class="number">4</span>
       <span class="number">5</span>
    </span>
    <span class="line"></span>
    <span>05</span>
  </div>