  <section itemscope itemtype="http://schema.org/Article">

    <div class="box">
      <div class="slider">
        <img itemprop="image" src="./assets/images/home/content/slider_2.png" alt="square image">
  
        <div class="text">
    
          <header>
            <h1>ANTI-DRONE ANTENNAS</h1>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_1">
              
            </span>
            <span #write_line class="write_line"> |</span>
          </p>
        </div>
        
      </div>
  
      <div class="slider">
        <img itemprop="image" src="./assets/images/home/content/slider_1.png" alt="square image">
  
        <div class="text">
    
          <header>
            <h2>DRONE JAMMER TECHNOLOGY</h2>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_2">
              
            </span>
            <span #write_line class="write_line"> |</span>
          </p>
        </div>
        
      </div>

      <div class="slider">
        <img itemprop="image" src="./assets/images/home/content/slider_3.png" alt="square image">
  
        <div class="text">
    
          <header>
            <h2>UAV PROTECTION</h2>
          </header>
          
          <p itemprop="description">
            <span #sliderText class="machine_line machine_line_3">
              
            </span>
            <span #write_line class="write_line"> |</span>
          </p>
        </div>
        
      </div>
    </div>
    

    <div #arrow data-id="0" class="slide previous"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></div>
    <div #arrow data-id="1" class="slide next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></div>

    <span class="line"></span>
  </section>
  
  <div itemscope itemtype="https://schema.org/Product" (onResize)="handleResize($event)" *ngFor="let e of [0, 1, 2, 3, 4];" class="container-fluid">
    <app-details [details]="{value: details[e], id: e}" [images]="images[e]"></app-details>
  </div>

  <div id="counter">
    <span>
       <span>0</span>
       <span class="number">1</span>
       <span class="number">2</span>
       <span class="number">3</span>
       <span class="number">4</span>
       <span class="number">5</span>
    </span>
    <span class="line"></span>
    <span>05</span>
  </div>